/* Импортируем общие стили */
@import 'common';

/* Специфичные стили для страницы "Проекты" */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* уменьшаем минимальную ширину окошек */
  grid-gap: 20px;
}

.project-item {
  border: 1px solid #ccc;
  padding: 20px;
  transition: transform 0.3s ease; /* добавляем анимацию при наведении на элемент */
}

.project-item:hover {
  transform: scale(1.05); /* увеличиваем элемент при наведении */
}

.project-item img {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* устанавливаем максимальную высоту изображения */
}

.project-item h3 {
  margin-top: 10px;
}

.project-item p {
  margin-bottom: 10px;
}

